*{
    margin: 0px;
    padding: 0px;
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    font-style: normal;
    background-color: transparent;
    border: none;
}
header{
    height: 60px;
    display: flex;
    justify-content: space-between;
    background-color: #FFF6FE;
    padding: 10px 10px 10px 20px;
    box-sizing: border-box;
}
/*Botao hamburguer */
.menu{
    display: flex;
    flex-direction: column;
    position: absolute;
    height: 100vh;
    width: 60%;
    overflow: hidden;
    background-color: white;
    transition: all 0.5s ease;
    border-right: 1px solid #CAC4D0;
}

#hb-button{
    margin: auto;
    width: 90%; height: 60px;
    display: flex;
    align-items:self-end;
    justify-content: center;
    border-bottom: 1px solid;
}
/*elementos menu */
#container-anotacoes{
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin: auto;
    margin-top: 10px;
    width: 90%;
    flex: 1;
    overflow: scroll;
}
#container-anotacoes > button{
    word-wrap: break-word; 
    white-space: normal;
    font-size: 16px;
    font-weight: 600;
    color: #320c4bc0;
    background-color: #FFF6FE;
    margin-top: 6px;
    padding: 15px;
    border-radius: 2px;
}
#add-container{
    height: 30px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}