*{
    margin: 0px;
    padding: 0px;
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    font-style: normal;
    background-color: transparent;
    border: none;
}
body{
    height: 100vh;
    display: flex;
    flex-direction: column;
}
::-webkit-scrollbar{
    width: 0;
}
/*Classes para o botao hamburguer*/
.delete{
    
    display: none
}
.border{
    border-bottom: 1px solid;
}
/*cabeçalho*/
header{
    height: 60px;
    display: flex;
    justify-content: flex-end;
    background-color: #FFF6FE;
    padding: 20px 15px 10px 15px;
    box-sizing: border-box;
}
#title{
    font-weight: 400;
    color: rgba(0, 0, 0, 0.966);
    justify-self: center;
}
/*Menu hamburguer */
.menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    height:50px;
    overflow: hidden;
    width: 50px;
    
    transition: width 0.3s ease;
}
.menuextendido{
    border-right: 1px solid #CAC4D0;
    height: 100vh;
    width: 60%;
    
    background-color: white;
}
/*botao hamburguer */
#hb-button{
    
    width: 90%;
    margin-top: 20px;
    height: 40px;
    display: flex;
    align-items:center;
    justify-content: center;
    
}
#hb-button  img:hover{
    cursor: pointer;
}
/*caintainer das anotações */
#container-anotacoes{
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin: auto;
    margin-top: 10px;
    width: 90%;
    flex: 1;
    overflow: scroll;
}
/*anotações */
#container-anotacoes > div > button{
   
    font-size: 16px;
    font-weight: 600;
    color: #320c4bc0;
    background-color: #FFF6FE;
    margin-top: 6px;
    padding: 10px;
    border-radius: 2px;
    flex: 1;
}
#container-anotacoes > div >img:hover{
    cursor: pointer;
}
button:hover{
    cursor: pointer;
}
/* add anotações */
#add-container{
    height: 30px;
    width: 90%;
    margin-top: 20px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#Anotation-name{
    font-size: 12pt;
    width: 100%;
    margin-right: 10px;
    border: 1px solid gray;
    border-radius: 8px;
    padding: 12px;
    outline: none;
    text-indent: 5px;
}
/* Conteudo de tarefas */
main{
    display: none;
    flex-direction: column;
    align-items: center;
    padding: 05px;
    overflow: hidden;
}
#main-input{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    margin-bottom: 40px;
    width: 90%;
}
#input-task{
    font-weight: 400;
    font-size: 12pt;
    padding: 12px;
    border-radius: 8px;
    border: 1px solid gray;
    width: 100%;
    outline: none;
    margin-right: 10px;
}
#add-task {
    height: 30px;
}
#content-task{
    width: 90%;
    overflow: scroll;
}
.task{
    
    display: flex;
    margin-top: 10px;
    word-wrap: break-word;
    padding: 15px 5px;
    width: 97%;
    border-radius: 8px;
    background-color: #FFF6FE;
}
.task-checked{
    color: rgb(255, 255, 255);
    font-weight: 600;
    text-decoration:line-through;
    display: flex;
    margin-top: 10px;
    word-wrap: break-word;
    padding: 15px 5px;
    width: 97%;
    border-radius: 8px;
    background-color: #07bb5273;
}
#options{
    
    display: flex;
    justify-content: center;
    align-items: center;
}
.remove-task{
    width: 20px;
    height: 20px;
    background-image: url(img/icons/lixeira.png);
    background-size: contain;
}
.complete-task{
    margin-right: 20px;
    width: 20px;
    height: 20px;
    background-image: url(img/icons/completo.png);
    background-size: contain;
}
#title-task{
    text-align: start; width: 90%; border-bottom: 1px solid;
}
/*Media queries*/
@media (min-width:500px){
    .menuextendido{
        max-width: 300px;
    }
    #main-input{
        max-width: 500px;
        
    }
    #content-task{
        max-width: 500px;
    }
    #title-task{
        max-width: 500px;
    }
}
@media (min-width:820px){
    .menu{
        
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        overflow: hidden;
        height: 100vh;
        width: 300px;
        background-color: white;
        border-right: 1px solid #CAC4D0;
    }
    #hb-button{
        cursor: pointer;
        border-bottom: 1px solid;
        
    }
    #ant{
        display: block;
    }
    #main-input{
        margin-top: 40px;
        margin-left: 300px;
    }
    #content-task{
        margin-left: 300px;
    }
    #title-task{
        margin-left: 300px;
    }
    #title{
        margin-left: 300px;
    }
}

